.wrapper
  = render partial: 'shared/side_bar'

  .chat
    .header
      .left-header
        %h3.left-header__name
          = @group.name
        %ul.left-header__members
          Members:
          - @group.users.each do |user|
            %li.member
              = user.name
      .right-header
        = link_to edit_group_path(@group), class: "right-header__button" do
          Edit
    .messages
      = render partial: "messages/message", collection: @messages
    .form
      = form_for [@group, @message], html: { class: "new-message" } do |f|
        = f.text_field :content, class: "new-message__text", placeholder: "Type a message"
        .new-message__image
          = f.label :image, class: "new-message__image2" do
            = f.file_field :image, class: "new-message__image__field",style: "display:none"
            = fa_icon "file-image-o"
        = f.submit "Send", class: "new-message__submit"
